profiles {
  standard {
    process.executor = 'local'
    // default utili
    params.reads  = params.reads  ?: 'data/*_{R1,R2}.fastq.gz'
    params.fasta  = params.fasta  ?: 'ref.fasta'
    params.outdir = params.outdir ?: 'results/align'
  }

  docker {
    docker.enabled   = true
    process.executor = 'local'
  }
}
